$allColors: (
    primary: (
        100:#0e4d14,
        300:#65a66c,
        400:#0b3a11,
        500:#a5cca9,
        600:#7ebd84
    ),
    secondary:(
        100:rgb(222, 108, 66),
        200:crimson,
        300:#ea6f2e
    )
)