<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <!-- js -->
    <script src="../script/slides.js" type="module" defer></script>
    <script src="../script/quran.js" type="module" defer></script>
    <!-- css -->
    <link rel="stylesheet" href="../scss/main.scss">
</head>

<body>
    <!-- site header start -->
    <header class="site-header">
        <div class="container">
            <div class="site-header__wrapper">
                <a class="site-logo text-primary text-primary-100" id="logo" href="#">
                    Muslim Pro
                </a>
                <a class="site-header__link btn btn-primary" id="headerPrayerLink" href="#verses">
                    Get started
                </a>
            </div>
        </div>
    </header>
    <!-- site header start -->

    <!-- main content start -->
    <main class="site-main">
        <!-- hero section start -->
        <section class="hero hero--prayer" id="hero">
            <div class="container">
                <div class="hero__wrapper" id="slidesWrapper">
                    <h1 class="visually-hidden">Namoz vaqtlari sayti</h1>
                    <ul class="hero__slides slides" id="slideList">
                    </ul>
                    <div class="hero__btns">
                        <button class="hero__btn prev-btn" data-carousel-btn="prev">&#x21d0;</button>
                        <button class="hero__btn next-btn" data-carousel-btn="next">&#x21d2;</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero section end -->

        <section class="services" id="services">
            <div class="container">
                <div class="services__wrapper">
                    <h2 class="services__title text-center fs-600 text-primary-100">Mohir qorilar</h2>
                    <ul class="services__list" style="grid-gap: 3rem .5rem;" id="servicesList">
                        <li class="services__item" data-page="quran">
                            <img src="../images/alijonqori.jpg" alt="Quro'ni Karim" class="services__img">
                            <h3 class="services__heading text-center text-primary-100 fs-100 fw-100">
                                <a class="services__link" href="#videos" style="pointer-events: all;">
                                    Shayx Alijon qori
                                </a>
                            </h3>
                        </li>
                        <li class="services__item" data-page="quran">
                            <img src="../images/hasanxondomla.jpg" alt="Quro'ni Karim" class="services__img">
                            <h3 class="services__heading text-center text-primary-100 fs-100 fw-100">
                                <a class="services__link" href="#videos" style="pointer-events: all;">
                                    Hasanxon Yahyo Abdulmajid
                                </a>
                            </h3>
                        </li>
                        <li class="services__item" data-page="quran">
                            <img src="../images/husayndomla.jpg" alt="Quro'ni Karim" class="services__img">
                            <h3 class="services__heading text-center text-primary-100 fs-100 fw-100">
                                <a class="services__link" href="#videos" style="pointer-events: all;">
                                    Husaynxon Yahyo Abdulmajid
                                </a>
                            </h3>
                        </li>
                        <li class="services__item" data-page="quran">
                            <img src="../images/nizomiddin_shoshiy.jpg" alt="Quro'ni Karim" class="services__img">
                            <h3 class="services__heading text-center text-primary-100 fs-100 fw-100">
                                <a class="services__link" href="#videos" style="pointer-events: all;">
                                    Nizomiddin qori
                                </a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="verses" id="verses">
            <div class="container">
                <div class="verses__wrapper">
                    <h2 class="text-center text-white fs-600">Qur'oni Karim</h2>
                    <ul class="verses__list" id="verseList">
                        
                        
                    </ul>
                </div>
            </div>
        </section>

        <section class="sidebar" id="sidebar">
            <div class="container">
                <div class="sidebar__wrapper">
                    <div class="sidebar__inner">
                        <button class="sidebar__close btn fs-500 text-white" id="closeSidebarBtn">
                            &#8592;
                        </button>
                        <h3 class="sidebar__title text-white" id="surahName">Fatihah</h3>
                    </div>
                    <ul class="sidebar__list" id="surahList">

                    </ul>
                </div>
            </div>
        </section>

        <section id="videos">
            <div class="container">
                <div class="videos__wrapper">
                    <h2 class="videos__title text-center fs-600 text-primary-100">Go'zal qiroatlar</h2>
                    <form class="videos__form" action="#">
                        <select class="videos__select clr-primary-100 text-white fs-300" name="user_author" id="videoSelect">
                            <option value="">Qorilar bo'yicha filterlash</option>
                        </select>
                    </form>
                    <ul class="videos__list" id="videosList">
                        
                    </ul>
                </div>
            </div>
        </section>

    </main>
    <!-- main content end -->

    <!-- footer start -->
    <footer class="site-footer">
    </footer>
    <!-- footer end -->

    <!-- templates -->
    <template id="slideTemplate">
        <li class="slides__item" id="slideItem">
            <h2 class="hero__title text-secondary-100 text-uppercase ff-primary fw-300 mx-0" id="slideTitle">
                Albatta, namoz
                mo'minlarga vaqtida farz qilingandir</h2>
            <p class="hero__text text-secondary-100 ff-primary" id="slideText">Niso surasi
                103-oyat
            </p>
        </li>
    </template>

    <template id="verseTemplate">
        <li class="verses__item" id="verseItem">
            <div class="verses__inner">
                <p class="verses__name" id="verseName">
                    Fatihah
                </p>
                <p class="verse__revelation-place" id="verseRevelationPlace">
                    Makkah
                </p>
                <p class="verses__ayahs" id="versesAyahs">
                    7 oyat
                </p>
            </div>
            <button id="openSidebarBtn">O'qish</button>
        </li>
    </template>
    <template id="surahTemplate">
        <li class="sidebar__item" id="surahItem">
            <p class="sidebar__heading text-white fs-300 mx-0" id="ayah">
                1.  ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
            </p>

            <audio preload="auto"></audio>
            <button class="play-surah" id="surahAudio">Play</button>
        </li>
    </template>
    <template id="videosTemplate">
        <li class="video__item" id="videoItem">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Lql37um7VSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </li>
    </template>
</body>

</html>